
<section id="secini">

	<header id="haeroshow">
	</header>
	<article id="aeart1"> 
		<%= link_to "fancy", image_path('wallpapers/menu/menu-fondo.png'), :class =>"fancybox", :size => "200x200" %>
		
	</article>
	<article id="aeart2">	
        <p>
                 
        </p>		
	</article>
</section>
