
<section id="secini">
	<header id="hinicio">
	</header>
	<article id="iniart1"> 
     <p>
       El Aerodromo cap. Eduardo Toledo Parra, ubicado en la isla de Cozumel Quintana Roo
       te ofrese diversos servicios para su avion, le recomendamos suscribirse con nosotros
       y asi obtener la informacion que requiera.
     </p>			
	</article>
	<article id="iniart2">	
	</article>
	<article id="iniart3">
	</article>
	<article id="iniart4">		
	</article>
</section>

