
<section id="secini">
	<header id="hinicio">
	</header>
	<article id="art1"> 
     <p>
       El Aerodromo cap. Eduardo Toledo Parra, ubicado en la isla de Cozumel Quintana Roo
       te ofrese diversos servicios para su avion, le recomendamos suscribirse con nosotros
       y asi obtener la informacion que requiera.
     </p>			
	</article>
	<article id="art2">
		
	</article>
	<article id="art3"></article>
	<article id="art4"></article>
	<footer></footer>
</section>

