
<section id="secini">
	<header id="hinstalaciones">
	</header>
	<article id="insart1"> 
    		
	</article>
	<article id="insart2"> 
     <p>
       Entre los servicios que ofrece el aerodromo se encuentran: <br><br>
       -El uso de una pista de 1200 metros (3,900 pies) de largo pavimentada con orientacion
       11/29 cuyas coordenadas son 20ยบ 25" 31.2" N y 87ยบ 00" 05.3" W.<br><br>
       
       -FBO que cuenta con: Acceso privado ala pista centro de negocios, dos salas de juntas
       , internet wireless conection, cafeteria, terraza.<br><br>
       -Escuela de pilotos que imparte los cursos de: piloto privado y comercial, oficial de operaciones, sobrecargo,
       entre otros.
     </p>	
	</article>

</section>